/* ========================================
   ⭐ 공용 뒤로가기 버튼
   ======================================== */

.Back-btn {
    position: fixed;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    max-width: 400px;
    height: 60px;

    padding: 0 15px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: none;
    background-color: #fff;

    cursor: pointer;

    z-index: 1001;
}

/* ========================================
   ⭐ 다크모드
   ======================================== */

.dark-mode .Back-btn {
    background-color: #12161c;
}

.dark-mode .Back-btn img {
    filter:
        brightness(0)
        invert(1);
}


/* ========================================
   ⭐ 뒤로가기 아이콘
   ======================================== */

.Back-btn img {
    width: 30px;
    height: 30px;

    margin-top: 10px;

    object-fit: contain;
    display: block;

    filter:
        brightness(0)
        saturate(100%)
        invert(45%)
        sepia(90%)
        saturate(900%)
        hue-rotate(120deg)
        brightness(90%);
}


/* ========================================
   ⭐ 클릭 효과
   ======================================== */

.Back-btn:active {
    transform: translateX(-50%);
}

.Back-btn:active img {
    opacity: 0.7;
}


/* ========================================
   ⭐ 모바일
   ======================================== */

@media (max-width: 500px) {

    .Back-btn {
        top: 0;
        left: 0;

        transform: none;

        width: 100%;
        max-width: none;

        height: 60px;

        padding: 0 20px;

        box-sizing: border-box;
    }

    .Back-btn img {
        width: 30px;
        height: 30px;

        margin-left: 0;
        margin-top: -12px;
    }

    .Back-btn:active {
        transform: none;
    }

    .Back-btn:active img {
        opacity: 0.7;
    }
}