.club-manage-layout {
    position: relative;
    width: 100%;
    max-width: 412px;
    height: 100dvh;
    margin: 0 auto;
    overflow: hidden;
    background: #f4f7f6;
}

.club-manage-layout-content {
    width: 100%;
    height: 100%;
    padding-bottom:
        calc(68px + env(safe-area-inset-bottom));
    overflow: hidden;
    box-sizing: border-box;
}